@font-face {
  font-family: SchibstedGrotesk-ExtraBold;
  src: url(/public/fonts/SchibstedGrotesk-ExtraBold.ttf);
}

@font-face {
  font-family: SchibstedGrotesk-Medium;
  src: url(/public/fonts/SchibstedGrotesk-Medium.ttf);
}

@font-face {
  font-family: SchibstedGrotesk-Regular;
  src: url(/public/fonts/SchibstedGrotesk-Regular.ttf);
}

@font-face {
  font-family: SchibstedGrotesk-SemiBold;
  src: url(/public/fonts/SchibstedGrotesk-SemiBold.ttf);
}

@font-face {
  font-family: SchibstedGrotesk-SemiBoldItalic;
  src: url(/public/fonts/SchibstedGrotesk-SemiBoldItalic.ttf);
}

/* 
Body Background: Sets a semi-transparent light gray background for the entire webpage body.
*/
body {
  background-color: #E0E0E0;
  font-family: SchibstedGrotesk-Regular, Georgia, serif;
  color: #000;
}

a {
  text-decoration: none;
}

/* 
Navbar Container: Styles the navigation bar container, employing flexbox for a space-between layout and a dark background color.
*/
.navBarContainer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #f2f2f2;
}

.topnav {
  overflow: hidden;
  font-family: SchibstedGrotesk-ExtraBold, Georgia, serif;
}

/* 
Logo and Navigation Links: Defines styles for the logo, navigation links, and hover effects within the top navigation bar, ensuring a consistent and visually appealing design.
*/
.logo {
  color: rgb(238, 238, 238);
  font-size: 28px;
  padding-left: 20px;
  font-family: SchibstedGrotesk-Medium, Georgia, serif;
  font-style: italic;
  margin: 15px 0;
}

.logo>.second-text {
  color: red;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

.topnav .contact-nav {
  padding: 10px;
  background-color: red;
  border-radius: 8px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
  margin: 12px 20px;
}

/* 
Mobile Responsive Styles: Introduces styles for a vertical navigation bar, popupContainer, and various components optimized for screens with a maximum width of 750 pixels.
*/
.popupContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.6);
}

.dialogStyle {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(118, 118, 118, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxStyle {
  background-color: #333;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  padding-top: 25px;
}

.popupHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.content {
  font-size: 0.7rem;
  padding-bottom: 5px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.verticalNav {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
}

.verticalNav a {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.verticalNav a:hover {
  background-color: #ddd;
  color: black;
}

/* 
Grid Containers for Content: Defines a grid layout for the overall content, creating a two-column structure for better organization and readability.
*/
.overAllcontent {
  padding: 95px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.overview {
  padding: 20px 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.main-heading {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-family: SchibstedGrotesk-Medium, Georgia, serif;
  font-size: 54px;
}

.main-heading.black {
  color: #000;
}
.main-heading .red {
  color: red;
}
.main-heading.secondary {
  font-size: 34px;
}

.second-heading {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.heading2 {
  color: #333;
  border-bottom: 2px solid #efefef;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 28px;
}
.heading2.no-line {
  border-bottom: none;
}

.paragraph {
  color: #000;
  line-height: 1.6;
  text-align: justify;
  font-family: SchibstedGrotesk-Medium, Georgia, serif;
  font-size: 20px;
}

/* custom style */
.overview_nogrid {
  padding: 20px;
}
.overview_nogrid .overview_split {
  width: 40%;
  display: table-cell;
}
.overview_nogrid.center {
  text-align: center;
  width: 120%;
}

.overview_nogrid > .option-nav {
  padding: 10px;
  color: #000;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
}
.overview_nogrid > .option-nav.white {
  padding: 10px;
  color: #fff;
  background-color: red;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
}

.overview_nogrid > .image-content {
  width: 120%;
}

.overAllcontent.black_bg,
.overAllcontent.black_bg .paragraph {
  background-color: #000;
  color: #fff;
}
.overAllcontent.blue_bg,
.overAllcontent.blue_bg .paragraph {
  background-color: #121B2C;
  color: #fff;
}

.overview_nogrid>.paragraph,
.overview_nogrid>.heading2 {
  color: #000;
}
.overview_nogrid>.heading2.white {
  color: #fff;
}

/* 
Footer Styling: Styles the footer with a fixed position at the bottom, a dark background, and white text. The social media icons are displayed in a flex layout for a clean and centered appearance.
*/
.footer {
  background-color: #000000;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 22px;
}

.copyright {
  display: flex;
  justify-content: left;
  float: left;
  margin-left: 20%;
}

.icons {
  display: flex;
  justify-content: right;
  float: right;
  margin:20px;
  margin-right: 20%;
}

.icons>span {
  padding-left: 15px;
}

/* 
Media Query for Mobile Responsiveness: Adjusts styles for mobile responsiveness, modifying the layout, padding, and font sizes to enhance the user experience on smaller screens.
*/
@media (max-width: 750px) {

  .topnav a {
    float: right;
  }

  .overAllcontent {
    padding: 10px;
  }

  .container {
    grid-template-columns: auto;
    grid-row-gap: 25px;
    margin: 25px;
  }

  .logo {
    transform: translateY(25%);
  }

  .heading {
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .overview {
    padding: 10px;
  }
}